* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    height: 100%;
}

h1, h2 {
    text-align: center;
}

.player-options img,
.enemy-options img {
    max-width: 200px;
    opacity: 0.3;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.player-options,
.enemy-options {
    width: 50%;
    margin-top: 70px;
}

.align {
    display: flex;
}